@import url('https://fonts.googleapis.com/css?family=Lato:400;700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 2rem;
  margin-top: 2rem;
}


/*--- Navigation --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.9)!important;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}


/*--- Landing Page --*/

.home-inner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ), url(img/bcmi.png);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
/*  text-transform: uppercase;*/
}
.caption h1 {
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}


/*--- Publications Section --*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0; 
}

h3.heading {
  font-size: 1.9 rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.publication svg.svg-inline--fa{
  color: #1ebba3;
}
.publication h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: .4rem;
}
.publication p {
  font-size: 1.1rem;
}
.publication li {
  font-size: 1.1rem;
  padding-bottom: .4rem;
}


/*--- Music Section --*/

.fixed {
  background-image: url(img/guitar1.png);
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 7rem 2rem;
}
.fixed-background h3 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem; 
}
.music img {
  width: 100%;
/*  border-radius: 50%;*/
}


/*--- Blog Post Page --*/

h2.heading-blog {
  font-size: 2.2 rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
}

h3.heading-blog {
  font-size: 1.9 rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
}
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}
.blog-body p {
  font-size: 1.1rem;
}
.blog-body h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
}
.code-block {
  width: 100%;
  padding: .1rem 1rem 0 1rem;
/*  padding-bottom: 3rem;
  padding-top: 3rem;*/
  border: .1rem solid rgba(120, 120, 120, 1.0);
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: left;
}
.code-block p {
  font-size: .9rem;
}


/*--- Media Queries --*/
@media (max-width: 767px) {
.caption h1 {
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}

.caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
}
.narrow h1 {
  font-size: 1.5rem;
}
.clients img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.narrow {
  width: 85%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
}
